<!doctype html>
<html>
    <body>
        <!--The action means that it leads you to the welcome_page handler-->
        <form action="/signup" method="POST">
            
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" value="{{username}}"/>
            <p class="error">{{username_error}}</p>
            <br>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" />
            <p class="error">{{password_error}}</p>
            <br>
            <label for="password2">Verify Password:</label>
            <input id="password2" type="password" name="password2" />
            <p class="error">{{password2_error}}</p>
            <br>
            <label for="email">Email <i>(optional)</i>:</label>
            <input id="email" type="text" name="email_address" value="{{email}}" />
            <p class="error">{{email_error}}</p>

            <input type="submit" />
        </form>
    </body>
</html>