<!doctype html>
<html>
    <body>
        <form action="/hello" method="post">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" />
            <label for="password">Password:</label>
            <input id="password" type="text" name="password" />
            <label for="password2">Verify Password:</label>
            <input id="password2" type="text" name="password2" />
            <label for="email">Email <i>(optional)</i>:</label>
            <input id="email" type="text" name="email_address" />
            <input type="submit" />
        </form>
    </body>
</html>